<html lang="es">
<%- include("./partials/head.ejs") %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/body.js"></script>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <% if (entradas.length > 0) { %>
      <% entradas.forEach(entrada => { %>
        <div class="blog entry">
            <h2><a href="/blog/<%= entrada._id %>"><%= entrada.title %></a></h2>
            <p><%= entrada.snippet %></p>
        </div>
      <% }) %>
    <% } else { %>
      <p>¡No hay entradas!</p>
    <% } %>
  </div>

  <!--<audio autoplay="true" src="/audio/pimp.mp3"></audio>-->

  <%- include("./partials/footer.ejs") %>
</body>
</html>