<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <input hidden="hidden" id="_id" value="<%= entrada._id %>">

  <div class="blogs content">
        <div class="blog entry">
            <h2><%= entrada.title %></h2>
            <p><%= entrada.body %></p>
        </div>
        <div class="blog options">
          <h2>Opciones</h2>
          <p><a id="modif">Modificar</a> <a id="elim">Eliminar</a></p>
      </div>
  </div>

  <%- include("./partials/footer.ejs") %>

  <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/blogbody.js"></script>
</body>
</html>