<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <form>
        <input type="hidden" value="<%= entrada._id %>" id="bid">
        <label for="fname">Titulo (*):</label><br>
        <input type="text" value="<%= entrada.title %>" id="title"><br>
        <label for="fname">Snippet (*):</label><br>
        <textarea id="snippet"><%= entrada.snippet %></textarea><br>
        <label for="fname">Body (*):</label><br>
        <textarea id="body"><%= entrada.body %></textarea><br>
        <a id="submit">Modificar</a>
      </form>
  </div>

  <%- include("./partials/footer.ejs") %>

  <!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/modificar.js"></script>
</body>
</html>